.sweet-fancy-script{
  font-family: sweet-fancy-script, sans-serif;
font-style: light;
}

body {
  font-family: "Rouge Script", serif;
  background: #fff3e5;
  color: darkred;
  align-items: center;
  justify-content: center;
  width: 100vw; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 2500px;
}

h1{
  font-family: sweet-fancy-script, sans-serif;
  font-size: 200px;
  text-align: center;
  color: darkred;
  background-color: palegoldenrod;
  padding: 0px;
  margin: 20px;
    width: 100vw;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  

h5 {
  font-family: sweet-fancy-script, sans-serif;
  color: white;
  background-color: #999966;
  font-size: 50px;
  width: 100vw;
  margin: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 a{
  font-family: sweet-fancy-script, sans-serif;
  color: white;
  text-align:center;
  font-size: 50px;
  text-decoration: none;
}

#notion {
  margin-top: 300px;
  align-items: center;
}

#reels {
  margin: 100px;
}

#god{
  margin: 100px;
}

#pinterest {
  margin: 100px;
}

#insta {
  margin: 100px;
}